{:app-name "repliclj"
 ;; gui server
 :api {:port 8011}

 ;; db access
 :hash-a "oZMcuTS3SVGbjFU2PD/h5Q=="
 :server "127.0.0.1"
 :db "vl_db"
 :port 5984
 :prot "http"
 :timeout 30000
 :repl-doc "000_REPLICATIONS"

 ;; logging
 :log-context {:facility "vs-38"}
 :mulog {:type :multi
         :publishers[{:type :elasticsearch
                      :url "http://a75438:9200/"
                      :els-version  :v7.x
                      :publish-delay 1000
                      :data-stream  "repl-log-stream"
                      :name-mangling false}]}}
